<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>FRONT END</h1>

<ul>
  <% immos.forEach((immo) => { %>
  <li>
    <%= immo.title %> <%= immo.country %>
    <button type="button" onclick="deleteImmo('<%= immo._id %>')">
      supprimer
    </button>
  </li>
  <% }) %>
</ul>
